
body {
	background-color: white;
	color: rgb(255,255,255);
}

div#main {
		background-color: white;
	color: rgb(255,255,255);

	background-repeat: repeat-x;
	position: relative;
	width: 100%;
}


div.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
}

div#main div.container {
	margin: auto;
	width: 900px;
	background-color: #FFF;
}

div#main div.container div#m-left {
	float: left;
	padding-left: 4px;
	padding-right: 4px;
	width: 199px;
}

div#main div.container div#m-left h2 {
	background-image: url('img/section.png');
	background-position: bottom;
	background-repeat: no-repeat;
	color: rgb(124, 124, 124);
	font-family: "Trebuchet MS", Georgia, Helvetica;
	font-size: 23px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 5px;
	padding-bottom: 21px;
	padding-top: 23px;
	text-align: center;
	text-transform: uppercase;
}

div#main div.container div#m-left ul#ml-menu {
	margin: 0;
	padding: 0;
}

div#main div.container div#m-left ul#ml-menu li {
	background-image: url('img/menu-separator.png');
	background-position: top;
	background-repeat: no-repeat;
	display: block;
	list-style: none;
	padding-top: 2px;
}

div#main div.container div#m-left ul#ml-menu li:first-child {
	background: none;
	padding-top: 0;
}

div#main div.container div#m-left ul#ml-menu li div:hover {
	background-image: url("img/menu-hover.png");
	background-repeat: repeat-y;
}

div#main div.container div#m-left ul#ml-menu li div a {
	background-image: url("img/menu-inactive.png");
	background-position: left;
	background-repeat: no-repeat;
	color: rgb(64, 64, 64);
	display: block;
	padding-bottom: 9px;
	padding-left: 32px;
	padding-top: 9px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	text-decoration: none;
}

div#main div.container div#m-left ul#ml-menu li.selected div a {
	background-image: url("img/menu-active.png");
}

div#main div.container div#m-left ul#ml-menu li ul {
	display: none;
}

div#main div.container div#m-left ul#ml-partners {
	margin: 0;
	padding: 0;
}

div#main div.container div#m-left ul#ml-partners li {
	display: block;
	list-style: none;
	margin-bottom: 39px;
}

div#main div.container div#m-left ul#ml-partners li a {
	display: block;
	overflow: hidden;
}


div#main div.container div#m-left ul#ml-partners li#mlp-upmc a {
	background-image: url('img/upmc.png');
	height: 37px;
	width: 169px;
} 

div#main div.container div#m-left ul#ml-partners li a span {
	display: none;
}

div#main div.container div#m-left ul#ml-rubysponsors {
	margin: 0;
	padding: 0;
}

div#main div.container div#m-left ul#ml-rubysponsors li {
	display: block;
	list-style: none;
	margin-bottom: 39px;
}

div#main div.container div#m-left ul#ml-rubysponsors li a {
	display: block;
	overflow: hidden;
}

div#main div.container div#m-left ul#ml-rubysponsors li#mlr-comarch a {
	background-image: url('img/rubysponsors-comarch.png');
	height: 30px;
	width: 199px;
}

div#main div.container div#m-left ul#ml-rubysponsors li#mlr-tp a {
	background-image: url('img/rubysponsors-tp.png');
	height: 62px;
	width: 199px;
}

div#main div.container div#m-left ul#ml-rubysponsors li a span {
	display: none;
}

div#main div.container div#m-left ul#ml-silversponsors {
	margin: 0;
	padding: 0;
}

div#main div.container div#m-left ul#ml-silversponsors li {
	display: block;
	list-style: none;
	margin-bottom: 39px;
}

div#main div.container div#m-left ul#ml-silversponsors li a {
	display: block;
	overflow: hidden;
}

div#main div.container div#m-left ul#ml-silversponsors li#mls-fca a {
	background-image: url('img/silversponsors-fca.png');
	height: 40px;
	width: 199px;
}

div#main div.container div#m-left ul#ml-silversponsors li#mls-nsn a {
	background-image: url('img/silversponsors-nsn.png');
	height: 38px;
	width: 199px;
}

div#main div.container div#m-left ul#ml-silversponsors li a span {
	display: none;
}

div#main div.container div#m-left ul#ml-officialcarrier {
	margin: 0;
	padding: 0;
}

div#main div.container div#m-left ul#ml-officialcarrier li {
	display: block;
	list-style: none;
	margin-bottom: 39px;
}

div#main div.container div#m-left ul#ml-officialcarrier li a {
	display: block;
	overflow: hidden;
}
 

div#main div.container div#m-left ul#ml-officialcarrier li a span {
	display: none;
}

div#main div.container div#m-content {
	color: rgb(101, 101, 101);
	font-family: "Trebuchet MS", Georgia, Helvetica, sans-serif;
	font-size: 14px;
	float: left;
	padding-left: 45px;
	width: 630px;
	padding-right: 18px;
	padding-bottom: 20px;
}

div#main div.container div#m-content h2 {
	color: rgb(99, 99, 99);
	font-family: "Lucida Sans", "Lucida Grande", sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
	margin-top: 33px;
	text-indent: 40px;
	background-color: #FFF;
}

div#main div.container div#m-content h2.title {
	text-align: center;
	text-indent: 0;
}

div#main div.container div#m-content h3 {
	background-image: url('img/line.png');
	background-position: bottom;
	background-repeat: repeat-x;
	color: rgb(117, 117, 117);
	font-family: "Lucida Sans", "Lucida Grande", sans-serif;
	font-size: 18px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 9px;
	text-indent: 0;
}

div#main div.container div#m-content h4 {
	color: rgb(117, 117, 117);
	font-family: "Lucida Sans", "Lucida Grande", sans-serif;
	font-size: 16px;
	margin-bottom: 15px;
	margin-top: 15px;
	text-indent: 0;
}

div#main div.container div#m-content p {
	margin: 0;
	margin-top: 5px;
	text-indent: 0;
	text-align: justify;
	color: rgb(101, 101, 101);
	background-color: #FFF;
}

div#main div.container div#m-content p.indent {
	text-indent: 40px;
}

div#main div.container div#m-content div.borderedfloatright {
	border-color: #656565;
	border-style: solid;
	border-width: 1px;
	float: right;
	margin: 5px;
	margin-top: 0;
	padding: 5px;
}

div#main div.container div#m-content div.floatleft {
	float: left;
	margin: 5px;
	margin-top: 0;
	padding: 5px;
}

div#main div.container div#m-content div#mc-sponsors {
	margin-top: 100px;
}

div#main div.container div#m-content div#mc-sponsors p {
	text-align: center;
	text-indent: 0;
}

div#main div.container div#m-content div#mc-sponsors p a {
	margin: 20px;
}

div#main div.container div#m-content a[href$=".pdf"] {
	background-image: url("img/pdf.png");
	background-position: left center;
	background-repeat: no-repeat;
	padding-bottom: 2px;
	padding-left: 22px;
	padding-top: 2px;
}

div#main div.container div#m-content ul#mc-callforpapers {
	margin: 0;
	padding: 0;
	padding-left: 40px;
}

div#main div.container div#m-content ul#mc-callforpapers li {
	display: block;
	list-style-type: none;
}

div#main div.container div#m-content ul#mc-callforpapers li p {
	background-image: url("img/cfp-arrow.png");
	background-position: left center;
	background-repeat: no-repeat;
	border-bottom-color: #5cb246;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	padding-left: 20px;
	text-indent: 0;
	font-weight: bold;
}

div#main div.container div#m-content ul#mc-callforpapers li ul li {
	display: list-item;
	list-style-type: disc;
}

div#main div.container div#m-content dl dt {
	font-weight: bold;
}

div#main div.container div#m-content a {
	color: black;
}

div#main div.container div#m-content a img {
	border: none;
}

div#main div.container div#m-content table {
	text-align: left;
}

div#main div.container div#m-content table.colored {
	border-spacing: 0;
}

div#main div.container div#m-content table.colored td {
	padding: 2px;
	background-image: url('img/table-verticalseparator.png');
	background-position: left;
	background-repeat: repeat-y;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 2px;
	padding-top: 2px;
}

div#main div.container div#m-content table.colored td:first-child {
	padding-left: 2px;
	background: none;
}

div#main div.container div#m-content table.colored tr.odd {
	background-color: rgb(240, 240, 240);
}

div#main div.container div#m-content table.colored tr.even {
}

.important {
	color: red;
}

div#main div.container div#m-content #mc-googlemapcanvas {
	border-color: #656565;
	border-style: solid;
	border-width: 1px;
	height: 350px;
	margin: 5px;
}

div#main div.container div#m-content div.keynote div.photo {
	float: left;
	margin-bottom: 25px;
	margin-left: 40px;
	margin-right: 40px;
	position: relative;
}

div#main div.container div#m-content div.keynote div.photo img {
	display: block;
}

div#main div.container div#m-content div.keynote div.photo p {
	background-color: rgb(101, 101, 101);
	bottom: -54px;
	color: white;
	font-weight: bold;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	position: absolute;
	right: -171px;
}

div#main div.container div#m-content div.keynote1 h3, div#main div.container div#m-content div.keynote1 h4 {
	color: rgb(84, 204, 104);
}

div#main div.container div#m-content div.keynote1 div.photo p {
	background-color: rgb(84, 204, 104);
}

div#main div.container div#m-content div.keynote2 h3, div#main div.container div#m-content div.keynote2 h4 {
	color: rgb(68, 146, 234);
	background-color: #FFF;
}

div#main div.container div#m-content div.keynote2 div.photo p {
	background-color: rgb(68, 146, 234);
}

div#main div.container div#m-content p.photos {
	text-align: center;
}

div#main div.container div#m-content p.photos a img {
	border-color: #757575;
	border-style: solid;
	border-width: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
}
 #m-left a img {
                    text-align: center;
                }
                
                #m-left a {
                    text-align: center;
                }