# Call for Papers 
### Topics of interest include, but are not limited to: 

**Civel eng**
  <br>
* hydraulic and hydraulic structures 
* geotechnical engineering and seismic analysis 
* structures, structural stability and optimization
* material development and building construction
* Transportation and pavement


**Power Generation, Transmission and Distribution:**
  <br>
- control and measurements of mechanical systems
- renewable energy
- microscale Colling systems
- refrigeration and air conditioning systems
* bio-mechanical engineering 
* internal combustion engines
* numerical methods in fluids flow and heat transfer

**Air pollution** 
  <br>
* Air pollution modeling
* Monitoring and measuring
* Air quality management
* Indoor air pollution
* Aerosols and particles
* Industrial and travel emissions
* Air Pollution chemistry
* Economics of air pollution control
* Innovative technologies
* Green technologies and techniques
* Stationary and mobile emissions
* Environmental impact assessment
* Air pollution and climate change
* Air quality forecasting

