# Call for papers 
### Topics of interest include, but are not limited to: 

**Civil engineering**
  <br>
* Hydraulics and hydraulic structures 
* Gotechnical engineering and seismic analysis 
* Structures, structural stability and optimization
* Material development and building construction
* Transportation and pavement

**Mechanical engineering**
  <br>
- Control and measurements of mechanical systems
- Renewable energy
- Microscale cooling systems
- Refrigeration and air conditioning systems
* Bio-mechanical engineering 
* Internal combustion engines
* Numerical methods in fluids flow and heat transfer

**Air pollution** 
  <br>

* Environmental impact assessment
* Air pollution control and management
* Climate change and air quality forecasting
* Surface water and groundwater pollution
* Soil contamination and remediation
* Green and clean energy techniques

**Electrical engineering**

* Ectronics, power electronics.
* Control, mechatronics, robotics.
* Computer and  information systems.
* Power generation, transmission, and distribution.
* Renewable energy sources, and smart grids.
* Communications,  telecommunications, and signal processing.
* Circuits, sensors, and biomedical systems.

**Manufacturing process and engineering materials**

* Engineering material and application
* Micromachining and finishing processes 
* Joining technologies
* Metal forming
* Manufacturing process modeling
