# Call for Papers 
### Topics of interest include, but are not limited to: 

**Civil Engineering**
  <br>
* hydraulic and hydraulic structures 
* geotechnical engineering and seismic analysis 
* structures, structural stability and optimization
* material development and building construction
* Transportation and pavement

**Mechanical Engineering**
  <br>
- Power Generation, Transmission and Distribution
- control and measurements of mechanical systems
- renewable energy
- microscale Cooling systems
- refrigeration and air conditioning systems
* bio-mechanical engineering 
* internal combustion engines
* numerical methods in fluids flow and heat transfer

**Air pollution** 
  <br>

* Environmental impact assessment
* Air pollution Control and Management
* Climate change and Air Quality Forecasting
* Surface Water and Groundwater Pollution
* Soil Contamination and Remediation
* Green and Clean Energy Techniques

**Electrical Engineering**

* Ectronics, power electronics.
* Control, mechatronics, robotics.
* Computer and  information systems.
* Power generation, transmission, and * distribution.
* Renewable energy sources, and smart grids.
* Communications,  telecommunications, and signal processing.
* Circuits, sensors, and biomedical systems.

**Manufacturing Process and Engineering Materials**

* Engineering Material and application
* Micromachining and finishing processes 
* Joining Technologies
* Metal Forming
* Manufacturing Process Modeling