### Honorary Chair
Dr. Ali Nasser Helo, Dean of Engenireeing College

### International Scientific Committee

1. Sattar B. Sadkhan – SMIEEE- University of Babylon – IRAQ
2. Nidaa A. Abbas – SMIEEE- Babylon University – IRAQ
3. Stefano Bergani- SMIEEE - ITALY
4. Atilla Elci - TURKEY
5. Ibrahim Omary- KSA
6. Eva Volna- University of Ostrava - Czech Republic
7. Ali- Al-Sherbaz- Northampton University – UK
8. Ali Abed – SMIEEE- Basrah University - IRAQ
9. Michael A.Turi - USA
10. Daniele Bertalot - ITALY
11. Manosh C Paul - UK
12. Nildem Tayşi - TURKEY

### Local Scientific Committee

1. Ahmed A. Al-Waaly
2. Alaa Ruhma Al-Badri
3. Sallal Rashid Abid
4. Asad H. Aldefae
5. Hussan Fahad Khazaal
6. Muayed S. AL-Huseiny
8. ALi Jwied Jaeel
9. AbdulSalam Mahmood
10. Azzam S.Albunduquee
5. Alaa Mustafa

### Media and Communication Committee

1. Asad H. Aldefae
2. Ahmed A. Al-Waaly
3. Abdul Hadi Alaidi
4. Safa Kames Lafta
5. Mog Faruk Hammed
6. Ahmed aliady

### Administrative Committee

1. Abbas Jassem Jubear
2. Ahmed Adel Naje
3. Alaa K. Al_Shadhar
4. Nateq Atea Edan
5. Suha Sada Ebad

### Liaison Committee

1. ALi Jwied Jaeel
2. Alaa Ruhma Al-Badri
3. Hussain Razaq Sabah
4. Mohammed H. Yaseen

### International Technical Committee
