# International Steering Committee

1. Sattar B. Sadkhan – SMIEEE- University of Babylon – IRAQ
2. Nidaa A. Abbas – SMIEEE- Babylon University – IRAQ
3. Stefano Bergani- SMIEEE - ITALY
4. Atilla Elci - TURKY
5. Ibrahim Omary- KSA
6. Eva Volna- University of Ostrava - Czech Republic
7. Ali- Al-Sherbaz- Northampton University – UK
8. Ali Abed – SMIEEE- Basrah University - IRAQ
9. Michael A.Turi - USA
10. Daniele Bertalot - ITALY
11. Manosh C Paul - UK
12. Nildem Tayşi - TURKY

# Local Steering Committee

1. Ahmed A. Al-Waaly
2. Alaa Ruhma Al-Badry
3. Sallal Rashid Abid
4. Assad Hafudh Al-Defae
5. Hussan Fahad Khazaal
6. Muayed S. AL-Huseiny
7. Hatem Asal Gzar
8. ALi Jwied Jaeel
9. AbdulSalam Mahmood
10. Azzam S.Albunduquee



