<h2 class="title">Welcome to ICASEA | 2017 </h2>
<p class="indent">
We are delighted to invite you to Iraq, Wasit, University of Wasit to the International conference on advance of sustainable engineering
and its application ICASEA. In this premier conference, we aim to bring and offering a unique opportunity
to academia, industry practitioners and entrepreneurs alike to share their latest research, information,
ideas and products relating to sustainability and resilience. Sustainable engineering is a general term
that covers multiple engineering disciplines including but not limited to electrical, mechanical, civil,
structural and environmental engineering. It takes environmental engineering concepts
to the next level by looking at the interactions between technical, ecological, social and economic systems
and by avoiding shifting problems from one area to the other. Sustainability means living well within
the ecological limits of a finite planet. More than ever, engineers need to find holistic and effective
solutions to protect our vital life support systems and, at the same time, meet the needs of a growing
human population. Concepts such as life cycle thinking, industrial ecology and sustainable systems engineering
are important elements in the education and work practice of a sustainable engineer. This conference
gives us all the opportunity to watch and listen how our “scientific researchers and neighbors” are coping
with in all sustainability in engineering fields of expertise; this is the essence of cross-fertilization
of knowledge. To achieve this goal, our conference will include excellent keynote lectures, special and
theme sessions and presentations in what we hope to be a most lively event encouraging discussion on
challenging topics. Looking forward to meeting you in Iraq,Wasit, University of Wasit on November 2017.
</p>
<p class="indent">&nbsp;</p>
<h3>
<b>Paper Publication</b></h3>
<p class="indent">The accepted papers by ICASEA  2017 will be published in the conference proceedings.
Selected articles will be indexed in <span class="label label-info">IEEE library</span> after rigorous reviewing </p>
<p class="indent">&nbsp;</p>

<h3>
<b>Important dates</b></h3>
<dt>Deadline for Submission of Papers
<dd>
<span>August 1st, 2017</span></dd>
</dt>
<dt>Announcement of Acceptance
<dd>
<span>September 15th, 2017</span></dd>
</dt>
<dt>Deadline for Submission of Final Papers
<dd>
<span> October 15th, 2017 </span></dd>
</dt>
<dt> Deadline for Registration & Payment
<dd>
<span>November 1st, 2017</span></dd>
</dt>
<dt>Conference dates
<dd>
<span>November 29-30th, 2017</span></dd>
</dt>

<a class="btn btn--success" href="https://edas.info/N23720">Click here to Submit a paper</a>