<!-- Begin Tickets 2 Section -->
<section id="tickets" class="tickets-2">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>{{ site.ticketsTitle }}</h3>
			<div class="tickets-table row animated hiding" data-animation="fadeInDown" data-delay="0">
			{% assign animationDelay = 0 %}
            {% for ticketsOffer in site.ticketsOffers %}
	            
			{% assign animationDelay = animationDelay | plus:250 %}
            {% endfor %}
            </div>
			<ul class="justify-text">
<li>	Water supply
 <li>	Food production</li>
 <li>Housing and shelter</li>	
 <li>Sanitation and waste management</li>	
 <li>Energy development</li>	
 <li>Transportation</li>	
 <li>Industrial processing</li>	
<li>Development of natural resources</li>	
 <li>Cleaning up polluted waste sites</li>	
 <li>Planning projects to reduce environmental and social impacts</li>	
 <li>Restoring natural environments such as forests, lakes, streams, and wetlands</li>	
 <li>Providing medical care to those in need</li>	
 <li>Minimizing and responsibility disposing of waste to benefit all</li>	
 <li>Improving industrial processes to eliminate waste and reduce consumption</li>	
 <li>Recommending the appropriate and innovative use of technology</li> 

</ul> 
		</div>
	</div>
</section>
<!-- End Tickets 2 Section -->