<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl-PL">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/style-print.css" type="text/css" media="print" />

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="dist/css/bootstrap-material-design.css">
    <link rel="stylesheet" type="text/css" href="dist/css/ripples.min.css">
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <meta name="keywords" content="ICASEA | 2017" />
    <title>ICASEA | 2017</title>
</head>

<body>
    <div id="header">
        <div id="h-background">
            <div id="hb-pattern"></div>
            <div id="hb-gradient"></div>
        </div>
        <div id="h-top">
            <div class="container">
                <div>
                    <h1 id="ht-logo"> <a href="index.html"><span>ICASEA | 2017</span></a> </h1>
                </div>
            </div>
        </div>
        <div id="h-middle">
            <div class="container">
                <div>
                    <div id="hm-image"></div>
                </div>
            </div>
        </div>
        <div id="h-bottom">
            <div class="container">
                <div>
                    <img border="0" src="/img/ieee.png" width="193" height="58"></div>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="clear"></div>
        <div class="container">
            
            <div id="m-left">
                <h2>Navigation</h2>
                <ul id="ml-menu">
                    <li>
                        <div><a href="index.html">Home</a></div>
                    </li>
                    <!-- <li><div><a href="photos.html">Photos</a></div></li>-->
                    <li>
                        <div><a href="CallforPapers.html">Call for Papers</a></div>
                    </li>
                    <li>
                        <div><a href="committees.html">Committees</a></div>
                    </li>
                    <!--
	<li><div><a href="call-for-papers.php">Call for Papers</a></div></li>
    -->

                    <!--<li><div><a href="tutorials.php">Call for Tutorials</a></div></li>-->
                    <li>
                        <div><a href="news.html">Latest News</a></div>
                    </li>
                    <li>
                        <div><a href="author.html">Author Guidelines</a></div>
                    </li>
                    <li>
                        <div><a href="prog.html">Program</a></div>
                    </li>
                    <!--<li><div><a href="best-paper.html">Best Paper Award</a></div></li>-->
                    <li>
                        <div><a href="keynote.html">Keynote Speakers</a></div>
                    </li>

                    <!--
	<li><div><a href="social-events.php">Social Events</a></div></li>
	-->

                    <li>
                        <div><a href="venue.html">Venue</a></div>
                    </li>
                    <li>
                        <div><a href="reg.html">Registration</a></div>
                    </li>
                    <li>
                        <div><a href="travel.html">Travel @ Visa</a></div>
                    </li>
                    <li>
                        <div><a href="history.html">Past ICEEEs</a></div>
                    </li>
                    <li>
                        <div><a href="contact.html">Contact</a></div>
                    </li>
                    <li>
                        <div><a href="iceee_cfp.pdf">CFP Flyer</a></div>
                    </li>

                </ul>
                <p>&nbsp;</p>
                <p>
                    <font color="#FF0000" size="2"><b><span style="font-size: 130%">
		Sponsor</span></b></font>
                    <p align="center">
                        <br> &nbsp;
                        <p><b><font color="#FF0000" size="2"><span style="font-size: 130%">
		Technical Supporter<br>
&nbsp;</span></font></b>
                            <p align="center">
                                <img border="0" src="/img/ieee.png" width="180" height="53">
                                <p>&nbsp;
                                    <p>
                                        <font color="#000000" size="2"><b>Copyright © ICASEA | 2017.</b></font><br />
                                        <br />
            </div>

            
             <div id="m-content">
                  {{ content }} 
        </div>
        <div class="clear"></div>
    </div>
    <div id="header">
    </div>
</body>

</html>